/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  margin-inline: auto;
  margin-top: 200px;
  width: 1000px;
  border: 2px solid black;
  font-family: "Bree Serif";
  font-size: 3rem;
  position: relative;
}

.parole {
  color: #6a889c;
  position: absolute;
  right: 80px;
}

.parole i:nth-of-type(2) {
  animation: fadein 3s backwards;
}
.parole i:first-of-type {
  animation: fadein 3s 4s backwards;
}
.parole i:last-of-type {
  animation: fadein 3s 8s backwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
